[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
pyjwt = "*"
django-environ = "*"
python-decouple = "*"
djangocms-cascade = "*"
drf-yasg = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
django-cors-headers = "*"

[requires]
python_version = "3.9"
